.hoising-enter {
  opacity: 0;
  transform: scale(0.9);
}
.hoising-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.hoising-exit {
  opacity: 1;
}
.hoising-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.standard-enter {
  opacity: 1;
  transform: translateX(100%);
}
.standard-enter-active {
  opacity: 1;
  transform: translate(0);
  transition: opacity 300ms, transform 300ms;
}
.standard-exit {
  opacity: 0;
}

textarea:focus, input:focus{
  outline: none;
}
